src/main/resources/xsd/veda_course_api_model_v1_1.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.taksila.com/veda/model/api/course/v1_0"
	targetNamespace="http://www.taksila.com/veda/model/api/course/v1_0"
	xmlns:cdb="http://www.taksila.com/veda/model/db/course/v1_0"
	xmlns:base="http://www.taksila.com/veda/model/api/base/v1_0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	
	<xs:import schemaLocation="veda_course_db_model_v1_0.xsd" namespace="http://www.taksila.com/veda/model/db/course/v1_0"></xs:import>
	<xs:import schemaLocation="veda_base_model_v1.0.xsd" namespace="http://www.taksila.com/veda/model/api/base/v1_0"></xs:import>
	
	<!-- Complex types -->
	<xs:complexType name="Chapter">
		<xs:annotation>
			<xs:documentation>
				Extension of the db model for api response				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="cdb:ChapterTable">      
            	<xs:sequence>      	
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
				
	<xs:complexType name="Slide">
		<xs:annotation>
			<xs:documentation>
				Extension of the db model for api response				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="cdb:SlideTable">      
            	<xs:sequence>      	
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Topic">
		<xs:annotation>
			<xs:documentation>
				Extension of the db model for api response				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="cdb:TopicTable">      
            	<xs:sequence>      	
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Note">
		<xs:annotation>
			<xs:documentation>
				Extension of the db model for api response				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="cdb:NoteTable">      
            	<xs:sequence>      	
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
	</xs:complexType>          
	
	<xs:complexType name="Course">
		<xs:annotation>
			<xs:documentation>
				Extension of the db model for api response				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="cdb:CourseTable">      
            	<xs:sequence>      	
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
	</xs:complexType> 
	
	<xs:complexType name="UploadedFile">
		<xs:annotation>
			<xs:documentation>
				Extension of the db model for api response				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="cdb:UploadedFileTable">      
            	<xs:sequence>      	
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
	</xs:complexType> 
			
	<!-- APIs -->
	
	
	<!-- Courses -->	
	<xs:complexType name="GetCourseInfoRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetUserInfoRequest api request 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
					<xs:element ref="base:id" />							
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="GetCourseInfoResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetUserInfoResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
					<xs:element name="course" type="Course" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SearchCourseRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchCourseRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchRequest">  
            	<xs:sequence>											
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="SearchCourseResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchCourseResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchResponse">  
            	<xs:sequence>				
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CreateNewCourseRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateNewCourseRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="newCourse" type="Course" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="CreateNewCourseResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateNewCourseResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="course" type="Course" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="UpdateCourseRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateCourseRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="course" type="Course" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="UpdateCourseResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateCourseResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="course" type="Course" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DeleteCourseRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteCourseRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element ref="base:id" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="DeleteCourseResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteCourseResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            						
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Chapters -->	
	<xs:complexType name="GetChapterRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetChapterInfoRequest api request 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
					<xs:element ref="base:id" />							
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="GetChapterResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetChapterInfoResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
					<xs:element name="chapter" type="Chapter" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SearchChaptersRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchChaptersRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchRequest">  
            	<xs:sequence>											
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="SearchChaptersResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchChaptersResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchResponse">  
            	<xs:sequence>				
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CreateChapterRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateChapterRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="chapter" type="Chapter" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="CreateChapterResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateChapterResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="chapter" type="Chapter" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="UpdateChapterRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateChapterRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="chapter" type="Chapter" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="UpdateChapterResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateChapterResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="chapter" type="Chapter" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DeleteChapterRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteChapterRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element ref="base:id" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="DeleteChapterResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteChapterResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            						
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Topics -->	
	<xs:complexType name="GetTopicRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetChapterInfoRequest api request 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
					<xs:element ref="base:id" />							
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="GetTopicResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetTopicInfoResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
					<xs:element name="topic" type="Topic" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SearchTopicsRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchTopicsRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchRequest">  
            	<xs:sequence>											
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="SearchTopicsResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchTopicsResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchResponse">  
            	<xs:sequence>				
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CreateTopicRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateTopicRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="topic" type="Topic" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="CreateTopicResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateTopicResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="topic" type="Topic" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="UpdateTopicRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateTopicRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="topic" type="Topic" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="UpdateTopicResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateTopicResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="topic" type="Topic" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DeleteTopicRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteTopicRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element ref="base:id" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="DeleteTopicResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteTopicResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            						
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Slides -->
	
	<xs:complexType name="UploadFileResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetSlideInfoResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
					<xs:element name="fileid" type="xs:string" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
		
	<xs:complexType name="GetSlideRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetChapterInfoRequest api request 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
					<xs:element ref="base:id" />
					<xs:element name="topicid" type="xs:string" />	
					<xs:element ref="base:name" />							
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="GetSlideResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the GetSlideInfoResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
					<xs:element name="slide" type="Slide" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SearchSlidesRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchSlidesRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchRequest">  
            	<xs:sequence>
            			<xs:element name="searchParam" type="Slide" ></xs:element>											
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="SearchSlidesResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the SearchSlidesResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:SearchResponse">  
            	<xs:sequence>				
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CreateSlideRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateSlideRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="slide" type="Slide" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="CreateSlideResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the CreateSlideResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="slide" type="Slide" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="UpdateSlideRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateSlideRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element name="slide" type="Slide" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="UpdateSlideResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the UpdateSlideResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            		<xs:element name="slide" type="Slide" ></xs:element>					
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DeleteSlideRequest">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteSlideRequest				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseRequest">  
            	<xs:sequence>
            		<xs:element ref="base:id" ></xs:element>												
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="DeleteSlideResponse">
		<xs:annotation>
			<xs:documentation>
				This represents the api structure of the DeleteSlideResponse response 				
			</xs:documentation>
		</xs:annotation>
        <xs:complexContent>
            <xs:extension base="base:BaseResponse">  
            	<xs:sequence>
            						
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
		
</xs:schema>

